body { 
  background-color:black; 
  overflow: hidden; 
}


.filmNoise { 
  position: absolute; 
  top: 15px; 
}

.screen { 
  position: absolute; 
  top: 15px; 
}

.edges { 
  position: absolute; 
  z-index: 10; 
  width: 100vw; 
  height: 100vh; 
  top: 0; 

}




